[Unit]
Description=ToltekBbbApi

[Service]
WorkingDirectory=/home/toltek/Toltek.Bbb.Api
ExecStart=/usr/bin/dotnet /home/toltek/Toltek.Bbb.Api/Toltek.Bbb.Api.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=toltek-bbb-api
User=root
Environment=ASPNETCORE_ENVIRONMENT=Toltek
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target